<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}{{#if title}} | {{/if}}{{site.title}}</title>
    <link rel="stylesheet" href="{{assets}}/bootstrap-table.min.css">
    <link rel="stylesheet" href="{{assets}}/swipetable.min.css">
    <link rel="stylesheet" href="{{assets}}/main.min.css">
    <script type="text/javascript" src="{{assets}}/SwipeTable.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- Page content
    ================================================== -->
    <div>
      {{> body }}
    </div>

    {{> analytics }}
  </body>
</html>
